nav{
  margin: auto;
  padding: 0.1%;
  margin-right: 0;
}
nav>ul{
  text-align: right;
}
nav>ul>li{
  display: inline-block;
  color: white;
}
nav>ul>li>a{
  padding: 20px;
  text-decoration: none;
  padding-bottom: 20px;
}
nav>ul>li>a:hover{
  color: red;
}
@media screen and (min-width: 2000px) {
  body {
  color: white;
 }
}
background-color: black;
opacity: 0.8%;
font-size: larger;
color: white;
font-style: oblique;

h1{
  color: green;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}
.home{
  text-align: center;
}
.flex{
  display: flex;
  margin-left: 300px;
  padding: 20px;
}
h2{
  color: brown;
}

ul>li{
  padding: 15px;
}
.moringa{
  text-align: center;
}
 #education{
  display: flex;
  padding-left: 60px;
}
.education{
  text-align: center;
}

h5{
color: red;
 font-family: sans-serif;
 text-align: center;
}
h2,p{text-align: center;}

.h4,.h5{

  padding: 20px;
}
h3{
  color: blue;
}
