nav{
  margin: auto;
  padding: 0.1%;
  margin-right: 0;
}
nav>ul{
  text-align: right;
}
nav>ul>li{
  display: inline-block;
}
nav>ul>li>a{
  padding: 20px;
  text-decoration: none;
}
nav>ul>li>a:hover{
  color: red;
}
 body {
  background-color: #000000;
  opacity: 0.8%;
  /* font-weight: bolder; */
  color: white;
  /* text-align: center; */
}
h1{
  color: white;
  text-align: center;
  font-weight: 900;
}
.home{
  text-align: center;
}
.flex{
  display: flex;
  margin-left: 300px;
  padding: 20px;
}
h2{
  color: brown;
}
ul{
  border: 1px solid black;
}
ul>li{
  padding: 15px;
}
